{% set keyfile = '/etc/chrony.keys' if kolla_base_distro in ['centos', 'oraclelinux', 'redhat'] else '/etc/chrony/chrony.keys' %}

{# NOTE(jeffrey4l): external_ntp_servers may be None here #}
{% if external_ntp_servers %}
{% for ntp_server in external_ntp_servers %}
server {{ ntp_server }} iburst
{% endfor %}
{% endif %}

user chrony

keyfile {{ keyfile }}

commandkey 1

driftfile /var/lib/chrony/chrony.drift

log tracking measurements statistics
logdir /var/log/kolla/chrony

makestep 3 3

maxupdateskew 100.0

dumponexit

dumpdir /var/lib/chrony

port 0
deny all

bindaddress {{ chrony_bindaddress }}

logchange 0.5

hwclockfile /etc/adjtime

rtcsync
